    body {
        background-color: #F1F3FF;
    }
    .font-side {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }
    .font-side-active {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }
    :root {
        /* --offcanvas-width: 270px;
        --topNavbarHeight: 56px; */
        --offcanvas-width: 70px;
        --topNavbarHeight: 0;
    }
    .sidebar-nav {
        width: var(--offcanvas-width);
    }
    @media (min-width: 992px) {
        body {
            overflow: auto !important;
        }
        .offcanvas-backdrop::before {
            display: none;
        }
        main {
            margin-left: var(--offcanvas-width);
        }
        .sidebar-nav {
            transform: none;
            visibility: visible !important;
            top: var(--topNavbarHeight);
            height: calc(100% - var(--topNavbarHeight));
        }
    }