<!-- Main Content -->
<div class="container-fluid wrapper">
<!-- Breadcrumb -->
<div class="breadcrumb-wrapper">
    <nav style="--bs-breadcrumb-divider:'>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Cars</a></li>
        <li class="breadcrumb-item"><a href="#">List Cars</a></li>
        <li class="breadcrumb-item" aria-current="page">Add New Car</li>
        </ol>
    </nav>
</div>

<div class="content-header">
    <h2>Add Car</h2>
</div>

<!-- Form -->
<form action="/api/cars" method="post" enctype="multipart/form-data">
    <div class="row mb-3 ">
        <label for="nama" class="col-sm-2 col-form-label">Nama</label>
        <div class="col-sm-10">
            <input type="text" class="form-control text-input" name="inputName" id="inputName" required placeholder="Avanza">
        </div>
        </div>
        <div class="row mb-3">
        <label for="nama" class="col-sm-2 col-form-label">Sewa per Hari</label>
        <div class="col-sm-10">
            <input type="text" class="form-control text-input" name="inputPrice" id="inputPrice" required placeholder="Rp 0.-">
        </div>
        </div>
        <div class="row mb-3">
        <label for="inputSize" class="col-sm-2 col-form-label">Ukuran</label>
        <div class="col-sm-10">
            <select name="type" id="inputSize" class="form-control text-input">
                <option value="small" selected>Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
            </select>
        </div>
        </div>
        <div class="row mb-3">
        <label for="inputImage" class="col-sm-2 col-form-label">Foto</label>
        <div class="col-sm-10">
            <input type="file" class="form-control text-input" name="photo" id="" required>
        </div>
        </div>
</form>

<div class="form-submit">
    <button type="submit" form="edit-form" class="btn filter-btn submit-btn">Submit</button>
    <button class="btn filter-btn">Cancel</button>
</div>

