<!-- Main Content -->
<div class="container-fluid wrapper">
<!-- Breadcrumb -->
<div class="breadcrumb-wrapper">
    <nav style="--bs-breadcrumb-divider:'>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Cars</a></li>
        <li class="breadcrumb-item"><a href="#">List Cars</a></li>
        <li class="breadcrumb-item" aria-current="page">Update Car Information</li>
        </ol>
    </nav>
</div>

<div class="content-header">
    <h2>Update Car Information</h2>
</div>

<!-- Form -->
<form action="/api/cars/<%= car.id %>" method="post" enctype="multipart/form-data" class="form-wrapper" name="edit-form">
    <div class="mb-3 row">
        <label for="nama" class="col-sm-2 col-form-label">Nama</label>
        <div class="col-sm-10">
            <input type="text" class="form-control text-input" name="name" id="inputName" required placeholder="Avanza" value="<%= car.name ? car.name : '' %>">
        </div>
        </div>
        <div class="mb-3 row">
        <label for="nama" class="col-sm-2 col-form-label">Sewa per Hari</label>
        <div class="col-sm-10">
            <input type="text" class="form-control text-input" name="price" id="inputPrice" required placeholder="Rp 0.-" value="<%= car.price ? car.price : '' %>">
        </div>
        </div>
        <div class="mb-3 row">
        <label for="inputSize class="col-sm-2 col-form-label">Ukuran</label>
        <div class="col-sm-10">
            <select name="inputSize" id="inputSize" class="form-control text-input" value="<%= car.type ? car.type : '' %>">
                <option value="small" selected>Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
            </select>
        </div>
        </div>
        <div class="mb-3 row">
        <label for="inputImage" class="col-sm-2 col-form-label">Foto</label>
        <div class="col-sm-10">
            <input type="file" class="form-control text-input" name="photo" id="inputImage" value="" value="<%= car.photo ? car.photo : '' %>" placeholder="https://placeimg.com/640/480/any" required>
        </div>
        </div>
</form>

<div class="form-submit">
    <button type="submit" form="edit-form" class="btn filter-btn submit-btn">Submit</button>
    <button class="btn filter-btn">Cancel</button>
</div>
