<div class="container m-4">
    <div class="col" style="padding-bottom: 24px;">
        <div class="row">
            <div class="col-6">
                <h2 style="padding-bottom: 18px;">List Car</h2>
            </div>
            <div class="col-auto">
                <a href="/add" id="add-new-car" type="button" class="btn btn-primary">
                    <span>
                        <i class="bi bi-plus-lg"></i>                            </span>
                    Add New Car
                </a> 
            </div>
        </div>
        <a class="btn btn-outline-primary me-2 active" href="#" role="button">All</a>
        <a class="btn btn-outline-primary me-2 disabled" href="#" role="button">Small</a>
        <a class="btn btn-outline-primary me-2 disabled" href="#" role="button">Medium</a>
        <a class="btn btn-outline-primary disabled" href="#" role="button">Large</a>
    </div>
    <div class="row">

        <!-- Card -->
        <!-- <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card mb-4">
                <div class="card-body mb-4">
                    <img class="card-img-top mb-2" src="../images/car01.min.jpg" alt="" style="height: 200px; object-fit: cover;">
                    <p class="mb-2" style="font-weight: 400;">Nama/Tipe Mobil</p>
                    <p class="mb-2" style="font-weight: 700;">Rp 700.000/ hari</p>
                    <p>
                        <i class="bi bi-clock"></i>
                        Updated at 4 Apr 2022, 09.00
                    </p>
                    <div class="row">
                        <div class="col-6">
                            <button id="hapus" type="button" class="btn btn-outline-danger w-100">
                                <span>
                                    <i class="bi bi-trash"></i>
                                </span>
                                Delete
                            </button>
                        </div>
                        <div class="col-6">
                            <button id="edit" type="button" class="btn btn-success w-100">
                                <span>
                                    <i class="bi bi-pencil-square"></i>
                                </span>
                                Edit
                            </button>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card mb-4">
                <div class="card-body mb-4">
                    <img class="card-img-top mb-2" src="../images/car01.min.jpg" alt="" style="height: 200px; object-fit: cover;">
                    <p class="mb-2" style="font-weight: 400;">Nama/Tipe Mobil</p>
                    <p class="mb-2" style="font-weight: 700;">Rp 700.000/ hari</p>
                    <p>
                        <i class="bi bi-clock"></i>
                        Updated at 4 Apr 2022, 09.00
                    </p>
                    <div class="row">
                        <div class="col-6">
                            <button id="hapus" type="button" class="btn btn-outline-danger w-100">
                                <span>
                                    <i class="bi bi-trash"></i>
                                </span>
                                Delete
                            </button>
                        </div>
                        <div class="col-6">
                            <button id="edit" type="button" class="btn btn-success w-100">
                                <span>
                                    <i class="bi bi-pencil-square"></i>
                                </span>
                                Edit
                            </button>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card mb-4">
                <div class="card-body mb-4">
                    <img class="card-img-top mb-2" src="../images/car01.min.jpg" alt="" style="height: 200px; object-fit: cover;">
                    <p class="mb-2" style="font-weight: 400;">Nama/Tipe Mobil</p>
                    <p class="mb-2" style="font-weight: 700;">Rp 700.000/ hari</p>
                    <p>
                        <i class="bi bi-clock"></i>
                        Updated at 4 Apr 2022, 09.00
                    </p>
                    <div class="row">
                        <div class="col-6">
                            <button id="hapus" type="button" class="btn btn-outline-danger w-100">
                                <span>
                                    <i class="bi bi-trash"></i>
                                </span>
                                Delete
                            </button>
                        </div>
                        <div class="col-6">
                            <button id="edit" type="button" class="btn btn-success w-100">
                                <span>
                                    <i class="bi bi-pencil-square"></i>
                                </span>
                                Edit
                            </button>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card mb-4">
                <div class="card-body mb-4">
                    <img class="card-img-top mb-2" src="../images/car01.min.jpg" alt="" style="height: 200px; object-fit: cover;">
                    <p class="mb-2" style="font-weight: 400;">Nama/Tipe Mobil</p>
                    <p class="mb-2" style="font-weight: 700;">Rp 700.000/ hari</p>
                    <p>
                        <i class="bi bi-clock"></i>
                        Updated at 4 Apr 2022, 09.00
                    </p>
                    <div class="row">
                        <div class="col-6">
                            <button id="hapus" type="button" class="btn btn-outline-danger w-100">
                                <span>
                                    <i class="bi bi-trash"></i>
                                </span>
                                Delete
                            </button>
                        </div>
                        <div class="col-6">
                            <button id="edit" type="button" class="btn btn-success w-100">
                                <span>
                                    <i class="bi bi-pencil-square"></i>
                                </span>
                                Edit
                            </button>   
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <% mobil.forEach(car => { %>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card mb-4">
                <div class="card-body mb-4">
                    <img class="card-img-top mb-2" src="images/<%= car.image %>" alt="" style="height: 200px; object-fit: cover;">
                    <p class="mb-2" style="font-weight: 400;"><%= car.name %></p>
                    <p class="mb-2" style="font-weight: 700;">Rp <%= car.price %>/ hari</p>
                    <p>
                        <i class="bi bi-clock"></i>
                        Updated at <%= car-availableAt %>
                    </p>
                    <div class="row">
                        <div class="col-6">
                            <button id="hapus" type="button" class="btn btn-outline-danger w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <span>
                                    <i class="bi bi-trash"></i>
                                </span>
                                Delete
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <div class="modal-content">
                                    <div class="modal-body">
                                      <div class="alert-bluecar">
                                        <img src="images/car01.min.jpg"/>
                                        <h5 class="mt-3">Menghapus Data Mobil</h5>
                                        <div class="paragraf-modal">
                                          <p>Setelah dihapus, data mobil tidak dapat <br />dikembalikan. Yakin ingin menghapus?</p>
                                        </div>
                                        <center>
                                          <a type="button" class="btn btn-primary" href="/delete/<%= car.id %> ">Ya</a>
                                          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Tidak</button>
                                        </center>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <button class="btn btn-success" type="submit">
                                <a href="/cars/<%= car.id %> "><img src="img/fi_edit.png" alt="" />Update</a>
                              </button>
                            </center>
                        </div>
                        <div class="col-6">
                            <button id="edit" type="button" class="btn btn-success w-100">
                                <span>
                                    <i class="bi bi-pencil-square"></i>
                                </span>
                                Edit
                            </button>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
        <!-- Card -->

    </div>
</div>